html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #E5E5E5;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar{
    position: fixed;
    line-height: 2rem;
    font-size: 17px;
    margin-left: 0;
    min-width: 18rem;
    top: 0px;
    left: 0px;
    border-right: 1px solid grey;
    border-color: rgba(0, 22, 22, 0.4);
    max-height: 100%;
    z-index: 1;
    overflow-y: scroll;
}

.container{
    display: block;
    position: absolute;
    height: 88%;
}

#navbar > header > h1{
    text-align: center;
}
#main-doc{
    padding-left: 23rem;
}

#navbar a{
    display: block;
    padding: 10px 30px;
    list-style: none;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
#navbar ul {
    height: 50%;
    padding: 0;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
  }

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    list-style: none;
    width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

code{
    background-color: #DEDEDE; padding: 1.5rem; margin: 3rem;
    position: relative;
    line-height: 2;
    display: block;
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
header {
 font-size: 1.8em;
}