*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 65%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem; /* 18px */
    font-weight: 400;
    line-height: 1.0;
    color: white;
  }
#navbar{
    background-color: #AB2C3D;
    height: 6rem;
    font-size: 2rem;
    text-align: right;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: fixed;
    z-index: 1;
}

#navbar a{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 3rem;
}

#welcome-section{
  background-color: #2D2F31;
  height: 100vh;
  padding-top: 10px;
  display: block;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}

#welcome-section > h1{
    font-size: 4em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
}

#welcome-section > h2{
    font-size: 2em;
    font-weight: 20;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;;
    position: absolute;
    top: 60%;
    left: 40%;
    color: red;
    font-style: italic;
}

#projects{
    margin-top: 0px;
    padding-top: 20px;
    background-color: #3E4D70;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}

#projects > h1{
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    font-weight: 200;
    line-height: 4em;
    text-underline-offset: 15px;
    width: 100%;
    
}

.disp {
    display: flex;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-bottom: 10rem;
    flex-wrap: wrap;
}

.project-tile {
    display: block;
    align-items: center;
    text-align: center;
}

.project-tile > img{

    height: 18em;
    width: 14em;
    padding-top: 10px;
}

.project-tile > button > a{
    text-decoration: none;
    background-color: #2B323A;
    padding-top: 10px;
    color: whitesmoke;
    justify-content: center;
    padding: 1.35rem 2.9rem;
    font-size: 2rem;
  
}

#m-profile{
    display: flex; justify-content: center; background-color: #3E4D70; padding-bottom: 3rem;
    flex: 1;
}
#btn-all{
    padding: 1.35rem 2.9rem;
    background-color: #2B323A ;
    position: relative;
    
}

#btn-all > a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

footer{
    font-weight: 300;
    display: block;
    background-color: #2B323A;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10rem;
    height: 100vh;
}

footer > 
.ftr{
    padding: 7rem 10rem;
    
    }

.ftr > h1{
    font-size: 10px;
}

footer i {
    vertical-align: middle;
    padding-right: 1.5rem;
    color: white;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;


  }

  footer i:hover{
      transform: translateY(8px);
  }

  footer > p {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 50;
    font-style: italic;
  }

  footer h1{
      font-weight: 300;
      font-size: 6rem;
  }

.icn{
    font-size: 2.4rem;
}

#line{
    border-top: 4px solid red;
    height: 1em;
    display: flex;
   padding-top: 4rem;
   line-height: 4rem;
   font-size: 1.8rem;
}

#line > p{
    position: relative;
    justify-content: center;
}

@media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }